# requirements.txt
alembic
bokeh
certifi>=2024.07.04
cryptography>=43.0.1
docker>=7.0.0
fastapi
fastui
fief-client
httpx
ipykernel
IPython
Jinja2>=3.1.4
jsonrpcclient
makefun           # tox seems to need this
matplotlib
mysql-connector-python>=9.1.0
networkx>=3.0.0
numpy==1.26.4
pandas~=2.2.2
psycopg2-binary==2.9.6
py-markdown-table==0.3.3
pydantic
pydantic-settings
pytest
python-box~=5.3.0
python-dotenv~=0.21.0
python-jose[cryptography]
python-multipart
pyYAML==6.0
requests>=2.32.0
setuptools>=65.5.1
sqlalchemy-utils
sqlalchemy-views
SQLAlchemy>=2.0.38
sqlalchemy-utils
starlette>=0.40.0
starlette-admin
typer>=0.9
urllib3>=1.26.19
uvicorn
wheel>=0.38.1
