alabaster==0.7.12
argh~=0.28.1
black>=24.3.0
build
bump2version==1.0.1
coverage==5.5
docutils>=0.19.0
flake8-bugbear==24.4.26
flake8==7.1.1
nbsphinx
nbval>=0.10.0
pipdeptree
pytest-profiling
snakeviz
sphinx_rtd_theme>=1.2.0
sphinx-rtd-theme
sphynx
tox
twine==4.0.2
watchdog==2.1.3