<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<div>, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div> <!-- content wrapper -->
    <div>
      <nav>
        <div>
          <h1>
            <a href="/web">Home</a>
          </h1>
        </div>
        <ul>
          <li>
            <a href="#">
              <span>Explore</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Search</span>
            </a>
          </li>
          <li>
            <a href="Sources">
              <span>Link 2</span>
            </a>
          </li>
          <li>
            <a href="Identify">
              <span>Link 2</span>
            </a>
          </li>
          <li>
            <a href="Admin">
              <span>Link 3</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> <!-- end nav -->
    <main>
      <div>
        <a href="#"">login</a>
        <a href=" #">register</a>
      </div>
      <header>
        <h2>Timelink</h2>
        <h3>Projects</h3>
      </header>
    </main>
  </div>
</body>

</html>