<img style="background-color:rgb(87, 192, 233);" src="static/img/logo_alpha.png" />
<h1>{{ welcome_message }}</h1>
</div>
</header>

<table border="1">
<thead>
<tr>
  <th scope="col">
    Info</th>
  <th scope="col">
    Value
  </th>
</tr>
</thead>
<tbody>
{% for key, value in webapp_info.items() %}
{% if value is not none %}
<tr>
  <td>
    {{ key }}
  </td>
  <td>
    {{ value }}</td>
</tr>
{% endif %}
{% endfor %}

<table border="1">
  <caption>
    Projects
  </caption>
  <thead>
    <tr>
      <th scope="col">
        Project name
      </th>
      <th scope="col">
        Kleio_Url
      </th>
      <th scope="col">
        DB_Url
      </th>
    </tr>
  </thead>
  <tbody>
    {% for proj in projects %}
    <tr>
      <td>
        {{ proj.name }}
      </td>
      <td>
        {{ proj.kleioServerURL }}
      </td>
      <td>
        {{ proj.databaseURL }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


