<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
  <script>
    tailwind.config = {
    }
  </script>
</head>
<body>
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table
            class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th
                  scope="col"
                  class="border-r px-6 py-4 dark:border-neutral-500">
                  #
                </th>
                <th
                  scope="col"
                  class="border-r px-6 py-4 dark:border-neutral-500">
                  First
                </th>
                <th
                  scope="col"
                  class="border-r px-6 py-4 dark:border-neutral-500">
                  Last
                </th>
                <th scope="col" class="px-6 py-4">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  1
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Mark
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Otto
                </td>
                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  2
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Jacob
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Thornton
                </td>
                <td class="whitespace-nowrap px-6 py-4">@fat</td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  3
                </td>
                <td
                  colspan="2"
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Larry the Bird
                </td>
                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>