<style>
    .highlight-cell {
        text-decoration: underline dotted;
        cursor: pointer;
    }

    .highlight-cell:hover {
        color: orange;
        font-weight: bold;
    }

    .header {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: -1rem;
    }

    .notice {
        color: #f97316; /* orange-500 */
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .entity-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1rem;
        margin-top: 0.5rem;
    }

    .bold {
        font-weight: bold;
    }

    .green {
        color: #166534;
    }

    body {
        margin-top: 40px;
        margin-left: 20px;
    }

</style>

<h1 class="header highlight-cell"
    onclick="window.location.href='{{ display_page }}'">
    {% if entity.ref %}
        {{ entity.the_type.title() }}
    {% else %}
        {{ entity.id.title() }}
    {% endif %}
</h1>

<p class="notice">
    We are optimizing this page with templates! We will get back to you soon :)
</p>

<div class="entity-info">
    <span class="bold">{{ entity.groupname }}$</span>
    <span>{{ entity.id }}$</span>

    {% if entity.ref %}
        <span class="green">/ref=</span>
        <span>{{ entity.ref }}</span>
    {% endif %}

    <span class="green">/date=</span>
    <span>{{ entity.the_date }}</span>

    <span class="green">/type=</span>
    <span>{{ entity.the_type }}</span>

    <span class="green">/id=</span>
    <span class="highlight-cell" onclick="window.location.href='/id/{{ entity.id }}'">{{ entity.id }}</span>

    <span class="green">/inside=</span>
    {% if entity.inside %}
        <span class="highlight-cell" onclick="window.location.href='/id/{{ entity.inside }}'">{{ entity.inside }}</span>
    {% else %}
        <span>root</span>
    {% endif %}
</div>