# we use this file to pin the versions of the libraries we use in our project
# otherwise pip fails to install the libraries because of the version conflicts
annotated-types==0.6.0
anyio==4.3
bokeh==3.4.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
docker>=7.0.0
fastapi==0.110.2
fonttools==4.51.0
httpcore==1.0.5
httpx==0.26.0
fief-client==0.18.6
idna==3.7
ipykernel==6.29.4
ipython==8.23.0
Jinja2==3.1.3
jwcrypto==1.5.6
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mysql-connector-python~=8.0.0
networkx==3.3
numpy==1.26.4
networkx>=3.0
openpyxl==3.1.2
packaging==24.0
pandas~=2.0.0
pillow==10.3.0
protobuf==3.20.3
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
python-dotenv==0.21.1
python-dateutil==2.9.0.post0
pyparsing==3.1.2
pyuca==1.2
PyYAML==6.0 # 6.0 is the latest version that works with pydantic-setting
psycopg2-binary==2.9.6  # avoids errors of missing pg_config
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.29
SQLAlchemy-Utils==0.41.2
sqlalchemy-views==0.3.2
starlette==0.37.2
timelink>=1.1.6
tornado>=6.4.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.19
xyzservices==2024.4.0
